<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibieron guardar este post:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, "Imagen:",style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :title, "Título:", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "Contenido:", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit "Crear post", class: "btn btn-info"  %>
  </div>
  
<% end %>
